body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	font-family: montserrat;
}
button {
	-webkit-app-region: no-drag;
	outline: none;
	border: none;
}
.clear {
	clear: both;
}
/*Topbar*/
.topbar {
	height: 35px;
	width: 100%;
	float: left;
	background: #0D91C3;
	/* margin-bottom: 20px; */
	position: absolute;
	z-index: 99;
}
.topbar-left {
	top: 0;
	left: 0;
	float: left;
	position: relative;
	z-index: 1;
}
.topbar .title {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 0;
	margin: 7px 0;
	color: white;
	font-size: 16px;
}
.topbar-right {
	top: 0;
	right: 0;
	float: right;
	position: relative;
	z-index: 1;
}
.topbar-btn {
	height: 35px;
	background: #0D91C3;
	color: white;
	font-size: 14px;
}
.topbar-btn:hover {
	background: #0c83b0;
	cursor: pointer;
}
.topbar-btn:active {
	background: #095e7e;
	cursor: pointer;
}
.page-container {
	margin-top: 35px;
	height: 100%;
	position: absolute;
}
/* horizontal panel*/
.panel-container {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	height: inherit;
	/* avoid browser level touch actions */
	xtouch-action: none;
}
.panel-left {
	flex: 0 0 auto;
	/* only manually resize */
	padding: 10px;
	width: 469px;
	min-height: 200px;
	min-width: 469px;
	white-space: nowrap;
	background: #838383;
	color: white;
	overflow: hidden;
}
.splitter {
	flex: 0 0 auto;
	width: 18px;
	background: url(./vsizegrip.png) center center no-repeat #535353;
	min-height: 200px;
	cursor: col-resize;
}
.panel-right {
	flex: 1 1 auto;
	/* resizable */
/*	width: 695px;*/
	min-height: 200px;
	min-width: 200px;
	background: #eee;
	overflow: scroll;
	margin-bottom: 35px;
}
#theorems {
	overflow: hidden;
	position: relative;
}
table, td {
	border: 0.1px solid black;
	position: relative;
	text-align: center;
	font-size: 12px;
	font-family: sans-serif;
	border-spacing: 0px;
}
th.centerIt {
	text-align: center;
}
td.eq {
	text-align: left;
	padding: 10px 5px 10px 15px;
}
td.name {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}
/*Toolbar*/
/* #toolbar{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 100%;
	margin-top: 30px;
} */
/*Editor*/
/* #editor {
	width: 100%;
	height: 85%;
	overflow-y: auto;
	color: rgb(89, 89, 89);
	font-size: 16px;
	margin-top: 85px;
	padding: 0 10px 0 25px;
	position: relative;
	display: block;
} */
