body, html {
	margin: 0;
	padding: 0;
	height: 100%;
  width: 100%;
  overflow: hidden;
	position:absolute;
	font-family: montserrat;
}
button {
  -webkit-app-region: no-drag;
	outline: none;
	border: none;
}
.clear {
	clear: both;
}
/*Topbar*/
.topbar {
	height: 35px;
	width:100%;
	float: left;
	background: #0D91C3;
	/* margin-bottom: 20px; */
	position: absolute;
	z-index: 99;
}
.topbar-left {
	top: 0;
	left: 0;
	float: left;
	position: relative;
	z-index: 1;
}
.topbar .title {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 0;
	margin: 7px 0;
	color: white;
	font-size: 16px;
}
.topbar-right {
	top: 0;
	right: 0;
	float: right;
	position: relative;
	z-index: 1;
}
.topbar-btn {
	height: 35px;
	background: #0D91C3;
	color: white;
	font-size: 14px;
}
.topbar-btn:hover {
	background: #0c83b0;
	cursor: pointer;
}
.topbar-btn:active {
	background: #095e7e;
	cursor: pointer;
}

.page-container {
  margin-top: 35px;
  height: 100%;
}


/* horizontal panel*/

.panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;
	height:inherit;

  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 10px;
  width: 300px;
  min-height: 200px;
  min-width: 150px;
  white-space: nowrap;
  background: #838383;
  color: white;
}

.splitter {
  flex: 0 0 auto;
  width: 18px;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
  padding: 10px;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  background: #eee;
}



/*Toolbar*/
/* #toolbar{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 100%;
	margin-top: 30px;
} */

/*Editor*/
/* #editor {
	width: 100%;
	height: 85%;
	overflow-y: auto;
	color: rgb(89, 89, 89);
	font-size: 16px;
	margin-top: 85px;
	padding: 0 10px 0 25px;
	position: relative;
	display: block;
} */
