
html body{
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
    -webkit-app-region: drag
}

html body #container{
  height: 736px;
  background-color: #E6E6E6;
  padding:12px;
  position: relative;
}

html body #toolbar{
  top: 0;
  background-color: #F7F7F7;
  height: 40px;
  position: relative;
}

html body #container #editor{
  background-color: #FFFFFF;
  height: inherit;
}

.hamburger{
  display: inline-block;
	cursor: pointer;
	left: 4px;
}
.bar1{
	width: 35px;
	height: 5px;
	background-color: #808080;
	margin: 4px 0 6px 4px;
	transition: 0.3s;
}

.bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #808080;
	margin: 6px 0 0 4px;
	transition: 0.3s;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.top-left {
	top: 0;
	left: 0;
	float: left;
	position: relative;
	z-index: 1;
}

.top-right {
	top: 0;
	float: right;
	position: relative;
	z-index: 1;
}
.top-btn {
  border: none;
  background-color: #F7F7F7;
  font-family: montserrat;
  font-size: 16px;
  color: #808080;
  height: 40px;
}
.top-btn:hover {
	background: #E6E6E6;
	cursor: pointer;
}

.center {
  position: relative;
  top: 4px; bottom:0; left: 30%; right:0;
  margin: auto;
  height: 35px;
}
