html body{
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
    -webkit-app-region: drag
}

.start {
  height: 736px;
  background-color: #E6E6E6;
  padding:12px;
  position: relative;
}

.resize {
  background-color: #E6E6E6;
  padding:12px;
  position: relative;
}

.center {
  position: relative;
  top: 4px; bottom:0; left: 440px; right:0;
  margin: auto;
  height: 35px;
}

.recenter {
	left: 225px;
}

html body #toolbar{
  top: 0;
  background-color: #F7F7F7;
  height: 40px;
  position: relative;
}

html body #container #editor{
  background-color: #FFFFFF;
  height: inherit;
}



/*toolbar buttons*/
.top-left {
	top: 0;
	left: 0;
	float: left;
	position: relative;
	z-index: 1;
}

.top-right {
	top: 0;
	float: right;
	position: relative;
	z-index: 1;
}
.top-btn {
  border: none;
  background-color: #F7F7F7;
  font-family: montserrat;
  font-size: 16px;
  color: #808080;
  height: 40px;
}
.top-btn:hover {
	background: #E6E6E6;
	cursor: pointer;
}


/*resizing for theorems*/

.theoremInline{
	margin-left: 50%;
	width: 50%;
	overflow: scroll;
    overflow-x: hidden;
	position:absolute;
	height: inherit;
}

.squeeze{
  width: 576px;
  float: left;
}


#popIcon{
  height: 30px;
  float: right;
  margin: 4px 5px 0 0;
}

#popIcon:hover{
  cursor: pointer;
}
