body{
    margin:0;
    -webkit-app-region: drag
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
    transition: 0.4s;
    -webkit-app-region: no-drag;
}
/*
#accBegin {
	text-align: center;
}
#search {
	float: left;
}
*/
.active, .accordion:hover {
	background-color: #ccc;
}
.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}
.panel {
	background-color: white;
	max-height: 0;
	transition: max-height 0.2s ease-out;
	overflow: hidden;
	width: 100%
}
table {
	/* border: 0.1px solid black; */
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 12px;
	font-family: montserrat;
	border-spacing: 0px;
}
td {
	border-right: 0.1px solid black;
	border-bottom: 0.1px solid black;
}
th {
	border-right: 0.1px solid black;
	border-bottom: 0.1px solid black;
	border-top: 0.1px solid black;
}
tr {
	width: 100%;
}
td.eq {
	text-align: left;
	padding: 5px 0px 5px 10px;
	width: 65%;
}
td.name {
	padding-left: 1em;
	padding-right: 1em;
	width: 25%;
}
td.rule {
	text-align: center;
	width: 10%;
}
tr:hover {
	background-color: #ccc;
}

#theorems{
    margin:0;
    top: 35px;
    position: relative;
    z-index: 1;
}

#topbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}